body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

h1 {
    text-align: center;
    margin-bottom: 3rem;
    margin-top: 5rem;
}

/* PAGE DES PRODUITS  */

.product {
    padding: 1rem;
    border: solid 1px lightgray;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    -webkit-box-shadow: 1px 15px 12px -6px rgba(166,166,166,1);
    -moz-box-shadow: 1px 15px 12px -6px rgba(166,166,166,1);
    box-shadow: 1px 15px 12px -6px rgba(166,166,166,1);
}

img {
    width: 200px;
    height: 250px;
    margin-bottom: 2rem;
}

.product h3 {
    height: 40px;
}

.product .description {
    height: 30px;
}

.product-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 4rem;
    column-gap: 1rem;
}


/* NAVBAR  */

nav {
    position: fixed;
    width: 100vw;
    top: 0;
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.44);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10.4px);
    -webkit-backdrop-filter: blur(10.4px);
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: end;
    margin-right: 2rem;
}

nav a {
    text-decoration: none;
    color: black;
}

nav ul li {
    margin-left: 1rem;
}

li {
    list-style-type: none;
}

/* 
STYLE DE LA HOMEPAGE */

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


/* PAGE DE CONTACT  */

.contact-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact-form input, textarea {
    width: 20rem;
    margin-bottom: 1rem;
} 

.contact-form label {
    text-align: left;
}

.error {
    color: red;
}